@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {  /* chama as variaveis dentro do css */
    --bg-gray:#ddd;
    --color-primary:#4D41C0;
    --white: #FFF;
}
* { 
    box-sizing: border-box; /* tag para borda não ocupar espaço */

}
html, body {
    background-color: var(--bg-gray);
}

nav{ 
    display: flex;align-items: center; /* parametro para organizar  o itens dentro do header  */
    justify-content: space-between
}

nav h1 {
    font-size: 24px;
    font-weight: 700;
}
nav a {
    font-size: 12px;
    font: weight 400px;

}
h1 h2 h3 h4 h5 h6 {
    margin: 0;
}
header{
    background-color: var(--color-primary);
    color: var(--white);
    height: 60px;
    display: flex;
    align-items: center;
    
}
a, a :hover{ /* tag para estizar o link  */
    color: unset;
    text-decoration: none;
}
.dsmovie-contact-container  {
    display: flex;
    align-items: center;


}
.dsmovie-contact-container img{
    margin: right 10px; ;
}